azure/pipeline/pipeline4.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "Append variable",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Var",
					"value": "e"
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Append variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Var')",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item(),'e')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AzureSqlDatabaseProductTable",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"structure"
					]
				}
			},
			{
				"name": "If Condition1_copy1_copy1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@startswith('prasoon','pra')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2_copy1_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "if",
								"value": false
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1_copy1_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "if",
								"value": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"Var": {
				"type": "Array",
				"defaultValue": [
					"a",
					"b",
					"c",
					"d"
				]
			},
			"if": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "ControlFlows"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-16T12:54:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}