azure/pipeline/validation_getMetadata_foreach_append.json
{
	"name": "validation_getMetadata_foreach_append",
	"properties": {
		"activities": [
			{
				"name": "Validation1",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "MoviesDataset",
						"type": "DatasetReference"
					},
					"timeout": "7.00:00:00",
					"sleep": 10
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AzureSqlDatabaseProductTable",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure"
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('Get Metadata1').output.structure)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "name",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"name": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "ControlFlows"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-18T20:23:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}