azure/pipeline/web_filter_if_set_webhook.json
{
	"name": "web_filter_if_set_webhook",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://dummy.restapiexample.com/api/v1/employees",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET"
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web1').output.data",
						"type": "Expression"
					},
					"condition": {
						"value": "@less(int(item().employee_age),50)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('filter1').output.FilteredItemsCount,16)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "valid",
								"value": false
							}
						},
						{
							"name": "WebHook1",
							"type": "WebHook",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"url": "http://dummy.restapiexample.com/api/v1/create",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"status": "success",
									"data": {
										"name": "test",
										"salary": "123",
										"age": "23",
										"id": 25
									}
								},
								"timeout": "00:3:00"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "valid",
								"value": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"valid": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "ControlFlows"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-18T16:52:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}